<% provide(:title, 'Home') %>
<% provide(:class, 'full') %>

<div class="text-center" style="background: transparent;">
  <%= image_tag "whitelogo.png", style: "text-align: center; padding: 0px;",
                                 class: "img-responsive center-block" %>
</div>

<br>
<br>

<!-- Begin pills/tabs -->
<div class="row">

  <div class="col-sm-6 centered-pills">
    <h2 class="text-center" style="color: white;">
      Search for Projects and Locations
    </h2>
    <br>
    <ul class="nav nav-pills">
      <li class="active">
        <a data-toggle="pill" href="#home" style="color: white;">
          <h4>Locations</h4>
        </a>
      </li>
      <li>
        <a data-toggle="pill" href="#menu1" style="color: white;">
          <h4>Projects</h4>
        </a>
      </li>
    </ul>

    <!-- <br> -->

    <div class="tab-content text-center">
      <div id="home" class="tab-pane fade in active">
        <%= render 'vacants/advanced_search' %>
      </div>
      <div id="menu1" class="tab-pane fade">
        <%= render 'projects/advanced_search' %>
      </div>
    </div>

  </div>

  <div class="col-sm-6" >
    <h2 class="text-center" style="color: white;">
      Or Find Locations Near You
    </h2>
<html>
  <head>
    <title>Styled Map Types</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {

        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var styledMapType = new google.maps.StyledMapType(
            [
              {elementType: 'geometry', stylers: [{color: '#ebe3cd'}]},
              {elementType: 'labels.text.fill', stylers: [{color: '#523735'}]},
              {elementType: 'labels.text.stroke', stylers: [{color: '#f5f1e6'}]},
              {
                featureType: 'administrative',
                elementType: 'geometry.stroke',
                stylers: [{color: '#c9b2a6'}]
              },
              {
                featureType: 'administrative.land_parcel',
                elementType: 'geometry.stroke',
                stylers: [{color: '#dcd2be'}]
              },
              {
                featureType: 'administrative.land_parcel',
                elementType: 'labels.text.fill',
                stylers: [{color: '#ae9e90'}]
              },
              {
                featureType: 'landscape.natural',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'poi',
                elementType: 'labels.text.fill',
                stylers: [{color: '#93817c'}]
              },
              {
                featureType: 'poi.park',
                elementType: 'geometry.fill',
                stylers: [{color: '#a5b076'}]
              },
              {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [{color: '#447530'}]
              },
              {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [{color: '#f5f1e6'}]
              },
              {
                featureType: 'road.arterial',
                elementType: 'geometry',
                stylers: [{color: '#fdfcf8'}]
              },
              {
                featureType: 'road.highway',
                elementType: 'geometry',
                stylers: [{color: '#f8c967'}]
              },
              {
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [{color: '#e9bc62'}]
              },
              {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry',
                stylers: [{color: '#e98d58'}]
              },
              {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry.stroke',
                stylers: [{color: '#db8555'}]
              },
              {
                featureType: 'road.local',
                elementType: 'labels.text.fill',
                stylers: [{color: '#806b63'}]
              },
              {
                featureType: 'transit.line',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'transit.line',
                elementType: 'labels.text.fill',
                stylers: [{color: '#8f7d77'}]
              },
              {
                featureType: 'transit.line',
                elementType: 'labels.text.stroke',
                stylers: [{color: '#ebe3cd'}]
              },
              {
                featureType: 'transit.station',
                elementType: 'geometry',
                stylers: [{color: '#dfd2ae'}]
              },
              {
                featureType: 'water',
                elementType: 'geometry.fill',
                stylers: [{color: '#b9d3c2'}]
              },
              {
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [{color: '#92998d'}]
              }
            ],
            {name: 'Styled Map'});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.2904, lng: -76.6122},
          zoom: 11,
          mapTypeControlOptions: {
            mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']
          }
        });

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANe409_h7ySY9h80bWYjeZyeKcKwDwX78&callback=initMap">
    </script>
  </body>
</html>
    <br>

    <%= render 'gmaps' %>
  </div>

</div>
<!-- End pills/tabs -->

<br>
<br>

<!-- Page Content -->
<div class="container container-gloss">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Projects in Motion
        <small>Projects</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <% @projects.each do |p| %>
      <%= render 'project_card', item: p %>
    <% end %>
  </div>
  <!-- /.row -->
  
  <br><br>

</div>

<br>

<div class="container container-gloss">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Get Started
        <small style="color: #428bca;">Links</small>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3 class="text-center">Projects</h3>
      <ul id="links_from_home" class="text-center">
        <li>
          <%= link_to 'View all projects', projects_path %>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Users</h3>
      <ul id="links_from_home" class="text-center">
        <li>
          <%= link_to 'Create an account', new_user_path %>
        </li>
        <li>
          <%= link_to 'View all users', users_path %>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3 class="text-center">Locations</h3>
      <ul id="links_from_home" class="text-center">
        <li>
          <%= link_to 'Submit a location', new_vacant_path %>
        </li>
        <li>
          <%= link_to 'View all locations', vacants_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
